<div class="base-list-wrapper">
  <div class="functional-panel">
    <app-base-filter
      [filters]="filters"
      (filterChanged)="onFilterChanged($event)"
    ></app-base-filter>

    <app-pagination
      *ngIf="pagination"
      [data]="pagination"
      (changed)="onPaginationChanged($event)"
    ></app-pagination>
  </div>

  <div class="spinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="base-list" *ngIf="!loading">
    <app-base-list-item
      *ngFor="let item of data"
      [value]="item"
    ></app-base-list-item>
  </div>
</div>
